In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

**Pandas**: Assignment 1: Reads csv file as pandas dataframe, and prints first 5 and last 10 rows of the data

In [ ]:
dataframe = pd.read_csv('/content/sample_data/california_housing_train.csv')
f5rows = dataframe.head(5)
l10rows = dataframe.tail(10)
print(f5rows)
print(l10rows)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16990    -124.22     41.73                28.0       3003.0           699.0
16991    -124.23     41.75                11.0       3159.0           616.0
16992    -124.23     40.81                52.0       1112.0           209.0
16993    -124.23     40.54                52.0       2694.0           453.0
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16990      1530.0       653.0         1.7038             78300.0
16991      1343.0       479.0         2.4805             73200.0
16992       544.0       172.0         3.3462             50800.0
16993      1152.0       435.0         3.0806            106700.0
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

Assignment 2: Providing a numerical summary of the dataset

In [ ]:
dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Find the number of unique items, and also all the different unique items present under total_bedrooms

In [ ]:
total_bedrooms_items = dataframe['total_bedrooms'].value_counts()
# print(total_bedrooms_items)
distinct_items = 0
print("The distinct elements are: ")
for i in total_bedrooms_items.keys():
  print(i, end=" ")
  distinct_items += 1
print('\n And the total number of unique items is: ', distinct_items)

total_bedrooms
280.0     48
309.0     44
331.0     43
394.0     43
345.0     43
          ..
2405.0     1
1797.0     1
1024.0     1
1494.0     1
936.0      1
Name: count, Length: 1848, dtype: int64
The distinct elements are:
280.0 309.0 331.0 394.0 345.0 343.0 290.0 340.0 272.0 322.0 295.0 291.0 353.0 294.0 328.0 398.0 313.0 335.0 399.0 346.0 254.0 282.0 393.0 317.0 361.0 388.0 289.0 390.0 308.0 348.0 410.0 284.0 307.0 277.0 426.0 427.0 325.0 447.0 315.0 271.0 372.0 369.0 287.0 312.0 411.0 406.0 300.0 310.0 408.0 344.0 365.0 342.0 269.0 228.0 306.0 338.0 339.0 379.0 428.0 460.0 472.0 373.0 366.0 363.0 359.0 419.0 391.0 444.0 332.0 482.0 358.0 370.0 386.0 356.0 360.0 412.0 409.0 292.0 418.0 357.0 354.0 477.0 435.0 297.0 468.0 478.0 352.0 246.0 416.0 347.0 396.0 401.0 316.0 389.0 314.0 430.0 387.0 431.0 464.0 236.0 263.0 303.0 371.0 502.0 261.0 518.0 266.0 404.0 278.0 324.0 279.0 235.0 375.0 301.0 311.0 275.0 454.0 276.0 238.0 417.0 273.0 422.0 559.0 250.0 323.0 415.0 240.0 501.0 438.0 495.0 383.0 414.0 326.0 424.0 255.0 476.0 262.0 349.0 245.0 380.0 265.0 293.0 421.0 423.0 244.0 448.0 508.0 252.0 458.0 267.0 296.0 286.0 318.0 362.0 285.0 484.0 449.0 341.0 217.0 336.0 441.0 469.0 471.0 355.0 544.0 565.0 321.0 429.0 494.0 334.0 451.0 367.0 264.0 256.0 364.0 462.0 283.0 329.0 536.0 588.0 463.0 239.0 319.0 525.0 268.0 506.0 299.0 259.0 433.0 333.0 491.0 253.0 378.0 489.0 420.0 497.0 496.0 351.0 385.0 425.0 337.0 231.0 456.0 400.0 498.0 439.0 526.0 403.0 395.0 465.0 392.0 199.0 382.0 437.0 459.0 260.0 488.0 327.0 500.0 224.0 234.0 202.0 504.0 330.0 492.0 191.0 461.0 350.0 320.0 557.0 405.0 243.0 634.0 304.0 510.0 298.0 251.0 247.0 258.0 522.0 374.0 216.0 580.0 221.0 512.0 302.0 434.0 446.0 578.0 481.0 487.0 208.0 270.0 556.0 509.0 397.0 442.0 257.0 623.0 445.0 190.0 402.0 281.0 443.0 205.0 212.0 534.0 198.0 537.0 377.0 274.0 407.0 490.0 413.0 661.0 226.0 542.0 384.0 368.0 611.0 507.0 305.0 214.0 515.0 242.0 432.0 652.0 237.0 483.0 466.0 514.0 511.0 194.0 455.0 230.0 473.0 376.0 662.0 606.0 288.0 210.0 206.0 479.0 193.0 689.0 624.0 475.0 524.0 582.0 549.0 555.0 513.0 521.0 223.0 616.0 485.0 453.0 452.0 551.0 516.0 569.0 229.0 711.0 220.0 207.0 535.0 530.0 538.0 520.0 523.0 440.0 474.0 381.0 601.0 610.0 573.0 682.0 249.0 241.0 632.0 605.0 203.0 480.0 577.0 225.0 550.0 503.0 667.0 592.0 527.0 533.0 209.0 552.0 215.0 248.0 470.0 232.0 184.0 166.0 227.0 436.0 195.0 554.0 159.0 457.0 499.0 546.0 539.0 562.0 566.0 547.0 597.0 628.0 637.0 181.0 587.0 173.0 189.0 187.0 642.0 147.0 145.0 553.0 548.0 129.0 685.0 625.0 612.0 567.0 450.0 574.0 467.0 531.0 174.0 493.0 180.0 146.0 664.0 603.0 570.0 647.0 599.0 560.0 665.0 729.0 182.0 575.0 618.0 636.0 543.0 722.0 183.0 579.0 659.0 691.0 648.0 143.0 532.0 541.0 563.0 161.0 622.0 702.0 576.0 595.0 218.0 651.0 589.0 204.0 196.0 201.0 764.0 630.0 176.0 602.0 561.0 585.0 604.0 626.0 168.0 739.0 591.0 529.0 581.0 151.0 640.0 219.0 644.0 814.0 185.0 170.0 708.0 608.0 186.0 571.0 222.0 558.0 617.0 639.0 148.0 150.0 486.0 586.0 719.0 572.0 594.0 528.0 654.0 108.0 779.0 149.0 178.0 517.0 211.0 646.0 620.0 568.0 696.0 233.0 41.0 635.0 658.0 614.0 164.0 175.0 584.0 716.0 593.0 753.0 171.0 740.0 136.0 200.0 142.0 131.0 772.0 695.0 188.0 192.0 748.0 519.0 787.0 116.0 598.0 155.0 540.0 641.0 179.0 833.0 656.0 112.0 725.0 160.0 690.0 607.0 596.0 669.0 619.0 720.0 832.0 653.0 732.0 177.0 713.0 165.0 117.0 816.0 505.0 786.0 763.0 163.0 107.0 672.0 673.0 741.0 785.0 663.0 675.0 627.0 686.0 609.0 746.0 758.0 172.0 800.0 600.0 684.0 749.0 715.0 153.0 895.0 698.0 959.0 765.0 167.0 629.0 762.0 613.0 650.0 773.0 824.0 791.0 132.0 668.0 545.0 590.0 671.0 645.0 886.0 718.0 701.0 74.0 734.0 631.0 564.0 797.0 102.0 683.0 790.0 643.0 130.0 712.0 849.0 705.0 808.0 815.0 723.0 751.0 738.0 949.0 704.0 744.0 699.0 677.0 140.0 733.0 633.0 688.0 197.0 920.0 674.0 731.0 703.0 826.0 852.0 638.0 710.0 756.0 666.0 754.0 955.0 857.0 103.0 735.0 678.0 993.0 28.0 213.0 135.0 717.0 794.0 778.0 726.0 95.0 761.0 63.0 681.0 126.0 707.0 162.0 806.0 139.0 1018.0 127.0 105.0 18.0 714.0 137.0 862.0 770.0 583.0 792.0 114.0 89.0 817.0 821.0 799.0 804.0 780.0 776.0 737.0 848.0 774.0 861.0 697.0 727.0 123.0 810.0 670.0 752.0 834.0 881.0 783.0 728.0 124.0 679.0 657.0 851.0 692.0 706.0 680.0 813.0 83.0 767.0 771.0 72.0 908.0 974.0 757.0 766.0 68.0 864.0 154.0 721.0 144.0 868.0 1051.0 86.0 687.0 655.0 44.0 49.0 871.0 1056.0 676.0 693.0 853.0 128.0 825.0 1037.0 807.0 781.0 812.0 621.0 615.0 115.0 119.0 760.0 802.0 133.0 660.0 700.0 138.0 157.0 831.0 10.0 152.0 793.0 750.0 649.0 90.0 827.0 62.0 121.0 880.0 768.0 745.0 903.0 122.0 892.0 118.0 109.0 29.0 42.0 120.0 828.0 897.0 803.0 922.0 934.0 1081.0 91.0 921.0 838.0 847.0 709.0 125.0 854.0 134.0 158.0 798.0 820.0 956.0 69.0 775.0 1168.0 769.0 1105.0 55.0 1116.0 9.0 70.0 743.0 84.0 736.0 93.0 92.0 1005.0 141.0 941.0 809.0 694.0 867.0 1279.0 1034.0 11.0 894.0 998.0 805.0 1008.0 947.0 1042.0 759.0 4.0 850.0 1100.0 884.0 104.0 76.0 169.0 59.0 887.0 876.0 75.0 788.0 16.0 82.0 899.0 977.0 1003.0 98.0 885.0 1089.0 819.0 893.0 969.0 48.0 914.0 818.0 795.0 992.0 1045.0 924.0 991.0 985.0 856.0 1164.0 156.0 984.0 101.0 81.0 71.0 17.0 97.0 65.0 835.0 830.0 996.0 909.0 937.0 874.0 938.0 755.0 967.0 1269.0 1011.0 80.0 910.0 873.0 1020.0 970.0 883.0 58.0 78.0 96.0 73.0 965.0 930.0 1281.0 926.0 837.0 730.0 882.0 1021.0 20.0 35.0 918.0 26.0 36.0 1171.0 896.0 890.0 889.0 6.0 839.0 1156.0 1283.0 1070.0 858.0 865.0 1074.0 1231.0 87.0 1148.0 54.0 12.0 931.0 79.0 57.0 782.0 1036.0 52.0 1271.0 94.0 1603.0 945.0 829.0 1031.0 872.0 913.0 866.0 911.0 898.0 906.0 840.0 1073.0 860.0 1222.0 100.0 111.0 1079.0 1125.0 994.0 990.0 822.0 1098.0 53.0 1210.0 841.0 1185.0 796.0 846.0 1071.0 968.0 928.0 971.0 1381.0 1134.0 1293.0 1044.0 38.0 21.0 982.0 836.0 1112.0 1066.0 24.0 1368.0 900.0 1211.0 1027.0 789.0 1039.0 1047.0 1256.0 1153.0 963.0 801.0 1017.0 742.0 823.0 1025.0 1169.0 1035.0 1007.0 939.0 916.0 1013.0 33.0 34.0 859.0 976.0 1200.0 878.0 85.0 1360.0 932.0 1369.0 962.0 811.0 1143.0 1330.0 1054.0 1063.0 845.0 43.0 1029.0 942.0 7.0 1538.0 1106.0 935.0 1286.0 1584.0 950.0 946.0 952.0 5.0 61.0 1119.0 67.0 1265.0 1401.0 88.0 1019.0 1117.0 954.0 47.0 110.0 1095.0 784.0 844.0 3.0 988.0 1374.0 1244.0 912.0 1258.0 77.0 1227.0 1182.0 30.0 23.0 747.0 51.0 855.0 1085.0 1180.0 973.0 1320.0 1578.0 1110.0 1059.0 1294.0 1517.0 1001.0 1161.0 1137.0 1152.0 901.0 22.0 907.0 1796.0 1193.0 1314.0 891.0 1004.0 1355.0 1292.0 1311.0 50.0 1165.0 1149.0 2007.0 1284.0 1882.0 1847.0 1092.0 1209.0 1423.0 1069.0 1154.0 1206.0 1249.0 1133.0 1170.0 1492.0 1068.0 32.0 56.0 1075.0 1579.0 1516.0 1410.0 1309.0 1062.0 1372.0 1706.0 1197.0 724.0 1257.0 1611.0 989.0 1446.0 1115.0 1527.0 40.0 1204.0 870.0 1319.0 1188.0 1058.0 1217.0 14.0 1689.0 964.0 888.0 1371.0 1195.0 1057.0 25.0 1189.0 1192.0 1040.0 951.0 1409.0 875.0 1196.0 1151.0 1455.0 1055.0 1111.0 1010.0 1321.0 1093.0 842.0 1384.0 1332.0 1124.0 1683.0 1590.0 1176.0 1142.0 1102.0 919.0 1251.0 2474.0 877.0 1015.0 1345.0 1747.0 1114.0 64.0 19.0 113.0 925.0 902.0 1224.0 843.0 960.0 1131.0 39.0 1439.0 923.0 986.0 1373.0 1084.0 1307.0 1174.0 777.0 917.0 1295.0 1535.0 1132.0 60.0 45.0 904.0 1083.0 1398.0 1606.0 905.0 2617.0 879.0 106.0 1558.0 1234.0 1547.0 1546.0 2315.0 1426.0 1060.0 1507.0 1715.0 1487.0 1444.0 1395.0 1512.0 1229.0 1780.0 1526.0 1529.0 1264.0 2186.0 1777.0 1144.0 1385.0 1464.0 1357.0 1646.0 1576.0 1038.0 1233.0 1050.0 1653.0 1023.0 1049.0 1452.0 1290.0 1183.0 1141.0 1220.0 1248.0 37.0 2331.0 1033.0 1997.0 863.0 1190.0 1980.0 1827.0 1300.0 1729.0 99.0 2139.0 1657.0 1002.0 1737.0 999.0 1768.0 1994.0 1358.0 1150.0 1082.0 1477.0 966.0 1126.0 1394.0 1214.0 1028.0 1537.0 1158.0 1312.0 1016.0 1551.0 1252.0 1136.0 1186.0 1046.0 1639.0 1614.0 1618.0 1643.0 1532.0 1146.0 1296.0 1061.0 1454.0 8.0 1422.0 1048.0 1303.0 31.0 27.0 1266.0 995.0 1348.0 1513.0 1012.0 1067.0 1707.0 1326.0 1130.0 1417.0 1856.0 1382.0 1488.0 1465.0 1489.0 981.0 2000.0 1545.0 1542.0 1253.0 1789.0 1301.0 1549.0 1238.0 1097.0 1241.0 1623.0 1139.0 1493.0 1213.0 1767.0 869.0 1316.0 1461.0 1205.0 2035.0 1864.0 1436.0 1413.0 1274.0 929.0 1276.0 1341.0 1242.0 927.0 2181.0 1259.0 1913.0 1655.0 1194.0 1802.0 1344.0 1366.0 1088.0 1386.0 2485.0 1704.0 1491.0 1181.0 2640.0 2401.0 1521.0 933.0 943.0 1390.0 1486.0 1335.0 1470.0 1866.0 1140.0 1173.0 1816.0 1901.0 1914.0 1108.0 1593.0 1235.0 1379.0 1187.0 1118.0 2031.0 1361.0 1104.0 997.0 1147.0 1559.0 953.0 1617.0 1324.0 1621.0 1157.0 1331.0 1285.0 1287.0 1078.0 1043.0 1442.0 1179.0 1273.0 1525.0 1380.0 1636.0 1299.0 1407.0 1336.0 1744.0 1514.0 1572.0 1121.0 979.0 1275.0 1995.0 1985.0 975.0 1030.0 944.0 66.0 1207.0 1096.0 1575.0 1717.0 1268.0 1155.0 1597.0 1232.0 1620.0 1351.0 1893.0 1453.0 1449.0 1555.0 1946.0 1978.0 1247.0 1375.0 1094.0 1583.0 1325.0 1261.0 1364.0 1544.0 1474.0 1730.0 2979.0 2222.0 4093.0 2282.0 2309.0 2546.0 2206.0 15.0 4407.0 2509.0 2747.0 3358.0 1878.0 1692.0 2704.0 2690.0 3513.0 2141.0 1539.0 1199.0 1957.0 1212.0 2408.0 6445.0 2302.0 1600.0 3020.0 2685.0 2611.0 1411.0 2527.0 1573.0 1342.0 1619.0 1564.0 2210.0 3521.0 1052.0 2924.0 1812.0 1315.0 980.0 3945.0 1.0 2011.0 1992.0 1103.0 2366.0 1433.0 1826.0 1935.0 1412.0 1976.0 1571.0 1317.0 1041.0 1755.0 4457.0 2123.0 1664.0 2996.0 3457.0 2300.0 1637.0 1308.0 1557.0 4492.0 1239.0 1857.0 2220.0 1072.0 1506.0 4183.0 1921.0 2560.0 2595.0 2355.0 3392.0 2249.0 2691.0 3008.0 1522.0 1282.0 2387.0 3630.0 1869.0 1849.0 1633.0 3224.0 2118.0 1736.0 1902.0 1858.0 1322.0 1554.0 2418.0 1270.0 1871.0 1742.0 1175.0 1666.0 1588.0 3864.0 1099.0 2558.0 1510.0 3298.0 1818.0 1288.0 1691.0 1392.0 1819.0 972.0 1475.0 1625.0 1184.0 1685.0 1556.0 3114.0 1216.0 2045.0 2708.0 1910.0 2275.0 2993.0 1246.0 1566.0 1739.0 1225.0 2166.0 1291.0 1122.0 1278.0 1774.0 1823.0 1712.0 1540.0 2552.0 1416.0 2826.0 2098.0 2226.0 1906.0 1591.0 1006.0 1673.0 978.0 2424.0 1831.0 2372.0 1756.0 1376.0 1163.0 2394.0 1612.0 1943.0 1759.0 2121.0 2885.0 1750.0 1414.0 1406.0 1370.0 2477.0 1670.0 3559.0 1705.0 2131.0 948.0 1254.0 1765.0 1109.0 1397.0 1167.0 1769.0 1250.0 2344.0 1895.0 2009.0 2453.0 1635.0 2124.0 1080.0 1785.0 2861.0 1534.0 1456.0 1022.0 2568.0 1177.0 2782.0 1377.0 1201.0 3618.0 1236.0 1313.0 1346.0 1429.0 2048.0 2074.0 1090.0 1087.0 1508.0 1784.0 2833.0 5471.0 1748.0 2479.0 2062.0 2205.0 2278.0 2370.0 1333.0 1702.0 2506.0 1434.0 3093.0 1101.0 1138.0 1306.0 2174.0 1599.0 1687.0 4095.0 3915.0 1745.0 3474.0 1979.0 3280.0 2819.0 3217.0 2057.0 2238.0 1799.0 2888.0 2656.0 2292.0 1675.0 1659.0 1719.0 1191.0 1255.0 2283.0 2486.0 2185.0 2289.0 3079.0 1086.0 1077.0 4179.0 1363.0 2812.0 1065.0 1129.0 2630.0 1624.0 3078.0 2751.0 1650.0 1459.0 1642.0 1178.0 2862.0 2.0 5290.0 2127.0 1594.0 2274.0 3522.0 1418.0 1881.0 2511.0 1952.0 2576.0 2613.0 13.0 3933.0 4072.0 4957.0 961.0 1032.0 2279.0 1448.0 3245.0 1437.0 2208.0 1000.0 2248.0 4819.0 1424.0 1245.0 2688.0 2269.0 1509.0 2696.0 3366.0 1665.0 2865.0 1026.0 2495.0 1758.0 1468.0 1240.0 3032.0 2726.0 2988.0 1533.0 2043.0 1550.0 1166.0 1145.0 2306.0 1208.0 1091.0 2114.0 940.0 1832.0 2549.0 1632.0 1605.0 1298.0 4952.0 2445.0 2041.0 1237.0 1842.0 2212.0 1523.0 2628.0 3336.0 2490.0 2352.0 1703.0 3753.0 2111.0 1172.0 1652.0 1159.0 1872.0 2679.0 2022.0 3170.0 958.0 1710.0 3680.0 1328.0 2154.0 2793.0 1803.0 1626.0 3638.0 1404.0 1763.0 1482.0 1984.0 1560.0 3335.0 1634.0 1450.0 2055.0 1263.0 2158.0 1716.0 1228.0 1490.0 1203.0 2530.0 2610.0 1215.0 2961.0 2866.0 1202.0 1761.0 1076.0 1473.0 2717.0 987.0 2473.0 2138.0 1820.0 1350.0 2814.0 1499.0 4798.0 2038.0 2193.0 2574.0 1695.0 1457.0 1781.0 3984.0 1963.0 1440.0 4386.0 2604.0 1472.0 2211.0 1365.0 46.0 1548.0 1480.0 3039.0 2075.0 2437.0 1661.0 2293.0 3179.0 2020.0 1221.0 4335.0 1647.0 2537.0 1260.0 4171.0 2837.0 1821.0 2873.0 1343.0 957.0 1615.0 1485.0 2481.0 1875.0 1277.0 1782.0 1289.0 1338.0 2634.0 2602.0 1839.0 1714.0 2005.0 1679.0 1387.0 2919.0 2276.0 1743.0 1569.0 2257.0 1628.0 1960.0 2460.0 1349.0 2077.0 1944.0 1438.0 1420.0 1367.0 2224.0 2555.0 3923.0 2145.0 3098.0 1859.0 1503.0 1359.0 1504.0 1822.0 1877.0 1262.0 1663.0 2953.0 3479.0 1773.0 1127.0 2823.0 1892.0 2405.0 1797.0 1024.0 1494.0 936.0
 And the total number is:  1848

Assignment 3: Add a new column called total_bedrooms_per_total_rooms and calculate it's mean and standard deviation

In [ ]:
tbptr = []
tbptrnum = 0
for i in range(len(dataframe.index)): # as num of records is 17000
  tbptr.append(dataframe.values[i][4]/dataframe.values[i][3])
  tbptrnum += dataframe.values[i][4]/dataframe.values[i][3]
dataframe['total_bedrooms_per_total_rooms'] = tbptr
# print(dataframe)
mean = tbptrnum/17000
stdeviation = dataframe['total_bedrooms_per_total_rooms'].std()
print("Mean is ", mean, " and std is ", stdeviation)

Mean is  0.2127599882103483  and std is  0.057823008903161756

Assignment 4: Filter dataset to find rows with median income greater than 5, also to create a new dataset with total rooms > 10000 and median house value under 150000, and then create this dataframe into a csv file

In [ ]:
filtered_rows = [] # will contain all the row indeces of rows with median_income greater than 5
for i in range(len(dataframe.index)):
  if (dataframe.values[i][7] > 5):
    filtered_rows.append(i)
# for i in filtered_rows: # prints all the rows with median_income > 5
#   print(dataframe.values[i])
rows_tb_removed = []
for i in range(len(dataframe.index)):
  if dataframe.values[i][3] < 10000 or dataframe.values[i][8] > 150000:
    rows_tb_removed.append(i)
subset = dataframe.drop(rows_tb_removed)
subset.to_csv('subset.csv', index = False, encoding='utf-8')

**Numpy**: Assignment 1: makes an array containing nums 1 to 20 in numpy, prints even numbers only and makes a random 2d array with 5 rows and 4 columns, which it then further crops to 3 rows and 2 columns

In [ ]:
nums = []
for i in range(1, 21):
  nums.append(i)
arr = np.array(nums)
even = arr[1::2]
two_d_array = np.random.randint(10,90,(5,4))
# print(two_d_array)
cropped_array = two_d_array[:3, :2]
# print(cropped_array)

[[58 57 33 41]
 [10 73 42 57]
 [63 58 41 12]
 [84 43 73 52]
 [68 85 79 35]]
[[58 57]
 [10 73]
 [63 58]]

Assignment 2: reshapes a 1d array to 2d and then reshapes it again to 1d. performs matrix multiplication between 2 2d arrays

In [ ]:
reshaped_array = arr.reshape(5, 4)
# print(reshaped_array)
unreshaped_array = reshaped_array.flatten()
print(unreshaped_array)
two_d_array2 = np.random.randint(1, 5,(4,5))
matmul = np.matmul(two_d_array2, reshaped_array)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Assignment 3: makes an array of length 50 with random numbers, and filters the array with a binary mask. also uses fancy indexing to extract elements at specific indexes from the array

In [ ]:
random_arr = np.random.randint(0, 100, 50)
bmask = random_arr > 50
narr = random_arr[bmask]
indices = np.random.choice(range(50), 10, replace=False)
farr = random_arr[indices]

[43 36 29 66 46 45 66 72 33 98] [37 31 14 48 30 21  1 43 20 13]

Assignment 4: finds mean max and sum along each array for the 2d matrix created earlier, filters the array by making a mask to filter each column by removing elements less than the mean

In [ ]:
sum_column = []
max_column = []
columns = []
for i in range(4):
  max_column.append(two_d_array[0][i])
  sum_column.append(0)
  columns.append(two_d_array[:, i:i+1])
  for j in two_d_array[:, i:i+1]:
    sum_column[i] += j
    if max_column[i] < j:
      max_column[i] = j
# print(two_d_array)
# print(sum_column, max_column)
mean_column = []
for i in range(4):
  mean_column.append(sum_column[i]/5)
# print(mean_column)
# print(columns)
for i in range(4):
  bmask = columns[i] > mean_column[i]
  columns[i] = columns[i][bmask]
# print(columns)

[array([[58],
       [10],
       [63],
       [84],
       [68]]), array([[57],
       [73],
       [58],
       [43],
       [85]]), array([[33],
       [42],
       [41],
       [73],
       [79]]), array([[41],
       [57],
       [12],
       [52],
       [35]])]
[array([58, 63, 84, 68]), array([73, 85]), array([73, 79]), array([41, 57, 52])]

**Problem Solving**: Assignment 1: prints first 50 fibonacci numbers, and then from 1 to 50 types fizz if multiple of 3, buzz if multiple of 5, fizzbuzz if both.

In [ ]:
a = 1
b = 1
print(a, end=" ")
for i in range(49):
  print(b, end=" ")
  b = a + b
  a = b - a
print("\n")
for i in range(1, 51):
  if i%3 == 0 and i%5 == 0:
    print("FizzBuzz", end=" ")
    continue
  if i%3 == 0:
    print("Fizz", end=" ")
  if i%5 == 0:
    print("Buzz", end=" ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025

Fizz Buzz Fizz Fizz Buzz Fizz FizzBuzz Fizz Buzz Fizz Fizz Buzz Fizz FizzBuzz Fizz Buzz Fizz Fizz Buzz Fizz FizzBuzz Fizz Buzz

Assignment 2: returns median and mean of a variable length of numbers given by the user

In [ ]:
n = int(input("length of the array? "))
arr = []
sum = 0
for i in range(n):
  inp = int(input("Enter Value: "))
  arr.append(inp)
  sum += inp
arr.sort()
mean = inp/n
if n%2 == 0:
  median = (arr[int(n/2)] + arr[int(n/2) - 1])/2
else:
  median = arr[int((n-1)/2)]
# print(median, mean)

length of the array? 5
Enter Value: 4
Enter Value: 54
Enter Value: 32
Enter Value: 7
Enter Value: 1
7

Assignment 3: handles the division by zero by returning a message instead

In [ ]:
n = int(input("Enter divisor: "))
try:
  ans = 15/n
except ZeroDivisionError:
  print("You can not divide by zero")

Enter divisor: 0
You can not divide by zero

Extra Assignments: Assignment 1: creates a 3d array with random numbers, then swaps 2 of it's axes and then finds the sum along each of it's axes. Then shows the effect of broadcasting by adding one d array to 2d array through simple addition operation.

In [8]:
three_d_arr = np.random.randint(1, 100, (3, 3, 3))
# print(three_d_arr)
swapped_mat = three_d_arr.transpose()
# print(swapped_mat) #swapped out 2 of the axes through transposing the matrix
sum_along_x = 0
sum_along_y = 0
sum_along_z = 0
for i in range(3):
  for j in range(3):
    sum_along_y += three_d_arr[i][j][0]
    if (j == 2):
      for k in range(3):
        sum_along_x += three_d_arr[i][j][k]
  if (i == 2):
    for j in range(3):
      for k in range(3):
        sum_along_z += three_d_arr[i][j][k]
# print(sum_along_x, sum_along_y, sum_along_z)

one_d_arr = np.random.randint(1, 10, 3)
an_2d_arr = np.random.randint(1, 10, (3, 3))
added_arr = an_2d_arr + one_d_arr #displays the effect of broadcasting, adds a vector to the matrix
# print(one_d_arr)
# print(an_2d_arr)
# print(added_arr)

[[[83 72 21]
  [68 14 97]
  [61 34 10]]

 [[65 90 52]
  [71 40 15]
  [96  5 17]]

 [[67  8 22]
  [71 67  5]
  [ 9 88 27]]]
347 591 364